 <!DOCTYPE html>
  <html ng-app="dhp">
    <head>
      <!--Import Google Icon Font-->
      <link href="assets/css/icon.css" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/>
	  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <link rel="stylesheet" type="text/css" href="assets/js/bower_components/datatables/media/css/dataTables.bootstrap.css">
        <link rel="stylesheet" type="text/css" href="assets/js/openlayers3/build/ol.css">
        <link rel="stylesheet" type="text/css" href="assets/js/angular-openlayers-directive/dist/angular-openlayers-directive.css">
        <link rel="stylesheet" type="text/css" href="assets/js/bower_components/angular-ivh-treeview/dist/ivh-treeview.css">
        <link rel="stylesheet" type="text/css" href="assets/js/bower_components/angular-ivh-treeview/dist/ivh-treeview-theme-basic.css">
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome-4.4.0/css/font-awesome.css">


        <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script type="text/javascript" src="assets/js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="assets/js/angular-1.4.7/angular.js"></script>
      <script type="text/javascript" src="assets/js/angular-1.4.7/angular-route.js"></script> 
      <script type="text/javascript" src="assets/js/angular-1.4.7/angular-cookies.js"></script>

        <script type="text/javascript" src="assets/js/angular-1.4.7/angular-sanitize.js"></script>
        <script src="assets/js/openlayers3/build/ol.js"></script>
        <script src="assets/js/angular-openlayers-directive/dist/angular-openlayers-directive.js"></script>

        <script src="assets/js/bower_components/angular-ivh-treeview/dist/ivh-treeview.js"></script>

        <script type="text/javascript" src="assets/js/materialize.min.js"></script>
        <script type="text/javascript" src="assets/js/bower_components/bower_components/highcharts-ng/dist/highcharts.js"></script>
        <script type="text/javascript" src="assets/js/bower_components/bower_components/highcharts-ng/dist/exporting.js"></script>
        <script type="text/javascript" src="assets/js/bower_components/bower_components/highcharts-ng/dist/highcharts-more.js"></script>
        <script type="text/javascript" src="assets/js/bower_components/bower_components/highcharts-ng/dist/standalone-framework.js"></script>
        <script type="text/javascript" src="assets/js/bower_components/bower_components/highcharts-ng/dist/highcharts-ng.js"></script>

        <script type="text/javascript" src="assets/js/bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script type="text/javascript" src="assets/js/bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
        <script src="assets/js/bower_components/datatables/media/js/jquery.dataTables.js"></script>
        <script src="assets/js/bower_components/angular-datatables/dist/angular-datatables.min.js"></script>

        <script type="text/javascript" src="assets/app/app.js"></script>
      <script type="text/javascript" src="assets/app/index.js"></script>
      <script type="text/javascript" src="assets/app/sharedFactory.js"></script>
      <script type="text/javascript" src="assets/app/mapController.js"></script>
    </head>


    <style>
        html, body {
            height: 98.5%;
            background-color: #eeeeee;
        }
        .info {
            background-color: #fff;
            border: 2px #444 solid;
            border-radius: 7px;
            -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
            box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
            color: #111;
            font-size: 13px;
            position: absolute;
            bottom:30em;
            left: 15em;
            z-index: 100;
            font-weight: bold;
            padding: .2em .5em;
            white-space: nowrap;
            line-height: 1.1em;
            text-align: center;
            z-index: 100;
        }
        .info:before {
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            content: "";
            border-right: 6px solid black;
            border-right-color: inherit;
            position: absolute;
            left: -8px;
            top: 20px;
        }

        .infoh {
            background-color: #fff;
            border: 2px #444 solid;
            border-radius: 7px;
            -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
            box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
            color: #111;
            font-size: 13px;
            position: absolute;
            bottom:7.5em;
            left: 2em;
            z-index: 100;
            font-weight: bold;
            padding: .2em .5em;
            white-space: nowrap;
            line-height: 1.1em;
            text-align: center;
            z-index: 100;
        }
        .infoh:before {
            /*border-top: 6px solid transparent;*/
            /*border-bottom: 6px solid transparent;*/
            /*content: "";*/
            /*border-right: 6px solid black;*/
            /*border-right-color: inherit;*/
            /*position: absolute;*/
            /*left: -8px;*/
            /*top: 20px;*/
        }

        tr td{
            text-align:center;
            padding:2px;
        }

        tr td b{
            text-align:right!important;
        }

        td.header_style{
            text-align: left;
        }

        .not_found{
            height:100%;
            /*margin-bottom: 50px;*/
        }
        .default{
            height:568px;

        }

        .success{
            color: green!important;
            font-weight: bolder!important;
            background-color: #00bfa5!important;
        }

        .failed{
            color: red;
            font-weight: bolder!important;
            background-color: #bf360c!important;
        }
    </style>

    <body ng-controller="mainController as main">

      <!-- Modal Trigger -->


      <!-- Modal Structure -->
      <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content" style="text-align: center;">
              <p style="font-weight: bolder;font-size: 14px;">DHP Login (DHIS2 users only)</p>
                <p style="color:red;font-weight: bolder;">{{main.logedSuccessMessage}}</p>
              <div class="row">
                  <div class="preloader-wrapper small active" ng-if="progressLogin">
                      <div class="spinner-layer spinner-green-only">
                          <div class="circle-clipper left">
                              <div class="circle"></div>
                          </div><div class="gap-patch">
                          <div class="circle"></div>
                      </div><div class="circle-clipper right">
                          <div class="circle"></div>
                      </div>
                      </div>
                  </div>
              </div>
              <form class="col s12" style="margin-top: 100px;">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="text" class="validate" ng-model="login.dhis_login_username">
                          <label for="email">Username</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" type="password" class="validate" ng-model="login.dhis_login_password">
                          <label for="password">Password</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12"><!--modal-close-->
                          <a class="waves-effect modal-action  waves-light btn  col s12 m12" style="background-color:#82b1ff" ng-click="main.login(login)">Login</a>
                      </div>
                  </div>

              </form>

          </div>
          <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
          </div>
      </div>

		<div class="row">
		<ul  class="side-nav fixed" style="left: 0px;" ng-show="main.csv_menu">

            <br/>
            <br/>
        <li class="logo"><div class="col m12" >DHP Webportal</div></li>
        <li class="bold">
            <br/>
            <br/>
			 <form class="col s12 m12" name="upload_form" ng-submit="submit(form)">
			  <div class="row">
                  <label for="orgunits">* Organisation Unit</label>
				<div class="input-field col  s12 m12">
					<select id="orgunits" name="org_unit" ng-model="form.org_unit_selected" required="required">
						<option ng-repeat="org in modifedOrgunits" value="{{org.value}}">{{org.name}}</option>
					</select>
				</div>
			  </div>
			  <div class="row">
                  <label>* Period</label>
				<div class="input-field col  s12 m12">
				  <select id="period_upload" name="period" ng-model="form.form_period" required="required">
						<option value="{{main.current_year}}"  selected>{{main.current_year}}</option>
						<option ng-repeat="period in main.periods" value="{{period.name}}">{{period.name}}</option>
					</select>
				</div>
			  </div>

                 <div class="row">
                     <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'application/pdf'"
                          accept="application/pdf" ><a href="#"><i class="fa fa-file"></i> Select a File</a></div>
                 </div>

			  <div class="row">
				<div class="input-field col s12 m12">
				  <button class="waves-effect waves-light btn col s12 m12" style="background-color:#82b1ff" type="submit" name="submit">Upload DHP</button>
				</div>
			  </div>
                 <div class="row">
                     <div class="progress" ng-if="showProgress">
                         <div class="determinate" style="width: {{progressPercent}}"></div>
                     </div>


                     <div class="col m12 s12" ng-if="message">
                         <div class="chip" class="{{message_class}}">
                             {{message}}{{message_class}}
                         </div>
                         </div>
                 </div>
			</form>
        </li>
            <script>
                $(document).ready(function() {
//                    $('select#orgunits').material_select();
//                    $('select#period_upload').material_select();
//                    $('select#orgunits').hide();
//                    $('select#period_upload').hide();
                });
            </script>
      </ul>
                    <div class="row">

               <nav class=" row " role="navigation" style="background-color: #82b1ff!important;">

                      <ul class="left">
                        <li>&nbsp;<img style="width:60px;height:50px;" src="assets/images/tanzania1.gif"></img></li>
                        <li><a href="#" style="color:#ffffff;" ><h4>DHP Webportal</h4></a></li>
                      </ul>

                      <ul class="right hide-on-med-and-down">
                        <li ng-if="main.logedIn"><a style="color:#ffffff;" >Logged in as :{{currentLogedUser}}</a></li>
                        <li><a href="#" style="color:#ffffff;" ng-click="main.getDashboard()">Dashboard</a></li>
                        <li><a href="#" style="color:#ffffff;" ng-click="main.getLeftNav()" ng-if="main.logedIn">Upload DHP</a></li>
                        <li><a href="#" style="color:#ffffff;" ng-click="main.getLoginForm()" ng-if="main.logedOut">Login</a></li>
                        <li><a href="#" style="color:#ffffff;" ng-click="main.Logout()" ng-if="main.logedIn">Logout</a></li>
                      </ul>

                      <ul id="nav-mobile" class="side-nav">
                          <li><a href="#" style="color:#ffffff;" ng-click="main.getDashboard()">Dashboard</a></li>
                          <li><a href="#" style="color:#ffffff;" ng-click="main.getLeftNav()" ng-if="main.logedIn">Upload Form</a></li>
                          <li><a href="#" style="color:#ffffff;" ng-click="main.getLoginForm()" ng-if="main.logedOut">Login</a></li>
                          <li><a href="#" style="color:#ffffff;" ng-click="main.Logout()" ng-if="main.logedIn">Logout</a></li>
                      </ul>
                      <a href="#" data-activates="nav-mobile" class="right button-collapse"><i class="material-icons">menu</i></a>
                    <!--</div>-->
			   </nav>

                <div class="row" ng-controller="mapController">
                    <!--<div class="col s12 m12">-->
                        <!--<div class="card white lighten-4 darken-1">-->
                            <!--<div class="card-content "></div></div>-->
                    <!--</div>-->
                    <div class="col s12 m4">

                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header grey-text"><i class="material-icons">place</i>Select DHP Using Organization Unit Tree

                                </div>
                                <div class="collapsible-body">
                                    <input type="text" ng-model="bagSearch" placeholder="Search Organisation Unit" />
                                    <div class="grey-text"
                                       ivh-treeview="data.organisationUnits"
                                       ivh-treeview-label-attribute="'name'"
                                       ivh-treeview-id-attribute="'id'"
                                       ivh-treeview-children-attribute="'children'"
                                       ivh-treeview-options="customOpts"
                                       ivh-treeview-filter="bagSearch"
                                          >

                                    </div>

                                </div>
                            </li>
                        </ul>
                        <div class="card white lighten-4 darken-1">
                            <div class="card-content ">
                                <div class="row">
                                <div class="col m8 s12">

                                    <span class="card-title grey-text" style="font-size: 20px;">DHP Data Map View   {{main.selectedYear}}</span>
                                </div>
                                <div class="input-field col m4 s12">
                                    <lable for="period_map" class="grey-text">Select Period</lable>
                                    <select  name="period" ng-model="main.selectedYear"id="period_map">
                                        <option selected="selected">2015</option>
                                        <option ng-repeat="period in main.periods" >{{period.name}}</option>
                                    </select>

                                </div>

                                    </div>
                                <div id="maps" class="maps"  style="width: 100%;" >

                                    <openlayers ol-center="Africa" ol-defaults="defaults" custom-layers="true"  height="400px">
                                        <ol-layer ol-layer-properties="layer" name="test" ng-repeat="layer in layers"></ol-layer>
                                    </openlayers>
                                    <div id="districtboxz" ng-if="selectedDistrictHover" class="infoh district ">
                                       {{selectedDistrictHover.name}}
                                    </div>
                                    <div class="card-action">
                                            <div class="col m2 s2">Key:</div>
                                            <div class="col m1 s1"><span style="color:#E38280;"><i class="fa fa-file"></i></span></div>

                                            <div class="col m4 s4"><span>No Uploads</span></div>
                                            <div class="col m1 s1"><span style="color:#55CD55;"><i class="fa fa-file"></i></span></div>
                                            <div class="col m4 s4"><span>Uploaded</span></div>

                                    </div>

                                </div><!-- /.map -->

                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 ">
                        <div class="card white lighten-1 darken-3" >
                            <div class="card-content grey-text" style="padding:13px">
                                DISTRICT HEALTH PROFILE : Visualization of yearly  uploaded health profiles by district.
                            </div>
                        </div>

                        <div class="card white lighten-1 darken-3" >
                            <div class="card-content grey-text {{custome_height}}" ng-if="!viewOpen" >
                                <div class="col s12 m12" ng-if="!main.chart_shown">
                                    <div class="col s11 m11">
                                        <p style="font-weight: bolder">District Health Available Documents for {{selectedDistrictName}}  {{main.selectedYear}}</p>
                                    </div>
                                    <div class="col s1 m1"><a class="waves-effect waves-light btn" ng-click="main.backToChart()"><i class="fa fa-arrow-left"></i></a></div>
                                </div>
                                <div class="col s12 m12" style="background-color: #eeeeee;" ng-if="!main.chart_shown">
                                    <div ng-if="main.Documents.length==0" style="min-height: 317.5px;text-align: center;margin-top: 5em;">
                                        <p>No uploaded health profile for <b>{{selectedDistrictName}}</b> in {{main.selectedYear}}</p>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <i class="large material-icons" style="color:#cccccc;">info</i>
                                    </div>
                                    <div class="col s4 m4" ng-repeat="document in main.Documents" title="click to preview document">
                                    <!--<div class="col s3 m3" >-->
                                        <div class="card white lighten-5 darken-1" >
                                            <a href="#" ng-click="main.openPdfFile(document.file)">
                                                <div> <img style="width:100%;" src="assets/images/dhp_portal.png"></div>
                                                <div class="grey-text" style="padding: 10px;font-size: 10px;font-weight: bold;">{{document.facility}} {{main.selectedYear}}</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div ng-if="main.Documents">
                                        <!--{{main.Documents}}-->
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col m12 s12" style="font-size: 20px;" ng-if="main.chart_shown">DHP District Submission Statistics:{{main.selectedYear}}</div>
                                <div class="col s12 m6" ng-if="main.chart_shown" style="font-size: 10px;">
                                    <highchart id="chart1" config="chartConfig"></highchart>

                                </div>

                                <div class="col s12 m6" ng-if="main.chart_shown">

                                    <table  class="row" style="margin-top: 10px;"  >
                                        <!--<caption><b>Uploaded Districts names</b></caption>-->
                                        <thead><tr>
                                            <!--<th>Region Name</th>-->
                                            <th>District Name</th></tr></thead>
                                        <tbody>
                                        <tr ng-repeat="row in main.orgUnitTable" style="cursor: pointer;"  ng-click="main.getHealthProfileFromTable(row)" title="click to preview profile">
                                            <td  style="text-align: left;">{{row.region}}</td>
                                            <td class="waves-effect waves-block" style="text-align: left;">{{row.district}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--<table id="foobar" datatable dt-options="main.dtOptions" dt-columns="main.dtColumns" dt-instance="main.dtInstance"></table>-->
                                </div>
                        </div>

                            </div>
                            <div class="card-content grey-text " ng-if="viewOpen">
                                <div class="col s12 m12">
                                    <div  class="col s11 m11">
                                        <p style="font-weight: bolder">District Health Profile Preview  for: <i>{{main.clickedDistrict}}</i> </p>
                                    </div>
                                    <div class="col s1 m1"><a class="waves-effect waves-light btn" ng-click="main.backToGrid()"><i class="fa fa-arrow-left"></i></a></div>
                                </div>
                                <br/>
                                <div class="col s12 m12 ">
                                    <br/>
                                    <object data="{{main.current_pdf_link}}"  type="application/pdf" width="100%" height="1000px">
                                        <p>Document preview is not available go <a href="{{main.current_pdf_link}}">to the PDF!</a> manually.</p>
                                    </object>
                                </div>

                            </div>
                            <div class="card-action" ng-if="viewOpen">
                                <a href="{{main.current_pdf_link}}" target="_blank">Download</a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/intent/tweet?text={{main.current_pdf_link}}"
                                   data-size="large"><i class="fa fa-twitter"></i></a>
                                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{main.current_pdf_link}}"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="section no-pad-bot" id="index-banner">
                        <div class="container">
                            <div class="row">

                            </div>
                        </div>
                    </div>


    </div>



		  </div>
			
		</div>
      <footer class="page-footer" style="background-color: #82b1ff!important;">
          <div class="container">
              <div class="row">
                  <div class="col l6 s12">
                      <h5 class="white-text">Related Links</h5>
                  </div>
                  <div class="col l4 offset-l2 s12">
                      <!--<h5 class="white-text">Links</h5>-->
                      <ul>
                          <li><a class="grey-text text-lighten-3" target="_blank" href="https://dhis.moh.go.tz/">DHIS/HMIS</a></li>
                          <li><a class="grey-text text-lighten-3" target="_blank" href="http://139.162.204.124/hmis/portal/">HMIS Web portal</a></li>
                          <li><a class="grey-text text-lighten-3" target="_blank" href="http://www.moh.go.tz/">MOH</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="footer-copyright">
              <div class="container">
                 &copy; 2015 Copyright <a target="_blank" href="http://www.moh.go.tz/"><b style="color:#ffffff;">Ministry Of Health and Social Welfare</b></a>
                  <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
              </div>
          </div>
      </footer>
       <script>
           $(document).ready(function() {
               var date = new Date();
               var year = date.getFullYear();
               $("select option[value='? number:"+year+" ?']").remove();
           });
       </script>
    </body>
  </html>
